div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}
.box1{
    position: static;
    background-color: blue;
    z-index: 8px;
    top: 20px;
}
.box2{
    position: relative;
    background-color: red;
    top: -0px;
    left: 40px;

}
.box3{
    position: sticky;
    z-index: -4;
    background-color: greenyellow;
    top: 0;
}